<h1>Manage rooms</h1>
<p>
  <%= link_to "New room", new_room_path, class: "btn btn-primary" %>
</p>
<ul>
  <% @rooms.each do |room| %>
    <li>
      <b><%= room.name %></b> - <%= room.description %> |
      <%= link_to "Edit", edit_room_path(room) %> |
      <%= link_to "Destroy", room, method: :delete,
                                   data: { confirm: "You sure?" } %>
    </li>
  <% end %>
</ul>